@import "./styles.scss";

h1 {
  @include textDesign($size: 2em, $family: $fontMont);
}
.aboutme {
  width: 100%;
  background-color: $bgColor;
}

.welcome {
  width: 80%;
  padding: 10% 0 5% 0;
  font-family: $fontRob;
  @include centering($side: auto);
}

.text {
  width: 65%;
  h1 {
    font-size: 2.5em;
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.typeText {
  font-size: 1.5em;
  font-family: $fontType;
  font-style: italic;
  display: block;
}

.download {
  width: 30%;
  padding: 2% 0;
  margin-top: 12%;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
  a {
    font-family: $fontRob;
    text-decoration: none;
    color: $orangeColor;
    @include centering();
    justify-content: center;
  }
}

.download:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 126, 95, 1) 0%,
    rgba(254, 180, 123, 1) 100%
  );
  a {
    color: white;
  }
}

.photo {
  display: inline-block;
  width: 30%;
  object-fit: cover;
  margin: 1% 0;
  img {
    transform: rotate(10deg);
    width: 100%;
  }
}

// who i am
.whoIam {
  width: 85%;
  object-fit: cover;
  @include centering($top: 5%, $side: auto, $drct: column);
  .content {
    width: 100%;
    justify-content: space-between;
    @include centering($side: auto);
    @include textDesign($size: 21px, $family: $fontText);
    img {
      width: 35%;
    }
    p {
      width: 50%;
      span {
        font-style: italic;
        color: $orangeColor;
      }
    }
  }
}

// skills

.info {
  width: 80%;
  padding: 0 0 5% 0;
  @include centering($side: auto, $drct: column);
  @include textDesign();
  h1 {
    margin-bottom: 7%;
  }
}

.skillPart {
  width: 100%;
  div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    svg {
      width: 8%;
      border: 1px solid $orangeColor;
      border-radius: 20px;
      padding: 3% 7%;
      margin-bottom: 2%;
      box-shadow: 0 1px 3px $orangeColor;
      transform: scale(1);
      transition: all 0.5s ease-in-out;
      font-size: 70px;
      color: black;
    }
    svg:hover {
      box-shadow: 0 1px 10px $orangeColor;
      transform: scale(1.01);
    }
  }
  div:nth-child(1) {
    margin-bottom: 7%;
  }
}
