@import "./styles.scss";

.footer {
    background-color: $headerColor;
    height: 34px;
    display: flex;
    align-items: center;
    p {
        color: rgb(109, 109, 109);
        width: 40%;
        @include centering($side: auto);
        @include textDesign($size:12px);
        justify-content: center;
    }
}