@import "./styles.scss";

.header {
  display: flex;
  width: 100%;
  position: fixed;
  font-family: $fontOpen;
  background-color: $headerColor;
  z-index: 1000;
}

.header ul {
    @include centering();
}

.header ul {
    ol a {
        text-decoration: none;
        @include centering();
        color: white;
        padding-bottom: 5%;
        background: 
    linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, $orangeColor, $orangeColor);
        background-size: 100% 0.1em, 0 0.1em;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
  }
  ol a:hover {
        background-size: 0 0.1em, 100% 0.1em;
  }
}

.logo {
  width: 11%;
  margin-right: 5%;
  object-fit: cover;
  @include centering();
}

.logo img {
  width: 100%;
}

.page {
  width: 20%;
}
.icon {
    margin-right: 3%;
}