@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600&display=swap");

@mixin centering(
  $top: 0px,
  $side: 0px,
  $drct: row,
) {
  display: flex;
  flex-direction: $drct;
  align-items: center;
  margin: $top $side;
}

$fontOpen: "Open Sans";
$fontMont: "Montserrat";
$fontRob: "Roboto Slab";
$fontType: "Alkatra";
$headerColor: #ffdbac;
$bgColor: #fdeeda;
$orangeColor: #ff8c00;
// $nightBlue: #191970;

.aboutme {
  width: 100%;
  background-color: $bgColor;
}

.welcome {
  width: 80%;
  padding: 10% 0 5% 0;
  font-family: $fontRob;
  @include centering($side: auto);
}

.text {
  width: 65%;
  h1 {
    font-size: 2.5em;
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.typeText {
  font-size: 1.5em;
  font-family: $fontType;
  font-style: italic;
  display: block;
}

.download {
  width: 30%;
  padding: 2% 0;
  margin-top: 10%;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
  a {
    font-family: $fontRob;
    text-decoration: none;
    color: $orangeColor;
  }
}

.photo {
  display: inline-block;
  width: 30%;
  object-fit: cover;
  margin: 1% 0;
  img {
    transform: rotate(10deg);
    width: 100%;
  }
}

// skills
@mixin textDesign {
  font-family: $fontOpen;
  font-size: 1em;
}
.info {
  width: 80%;
  padding: 0 0 5% 0;
  @include centering($side: auto, $drct: column);
  @include textDesign;
  h1 {
    margin-bottom: 7%;
  }
}

.skillPart {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
